<div class="memberCardContainer">
    <div class="memberCardContent">
        <label class="memberCardGrade">@grade</label>
        <img class="memberCardPic" src="../HCSS/IMG_1177.jpg"/>
        
        <div class="memberCardInfoContainer">
            <label class="memberCardName">@member.LastName @member.FirstName </label>
            <label class="memberCardEmail">@member.Email</label>
            <label class="memberCardNumber">@member.PhoneNumber</label>
        </div>
        
        <div class="memberCardNicContainer">
            <label class="memberCardNic">Nic : @member.NIC</label> 
        </div>
       
    </div>
</div>

